################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/controllers/__pycache__
/models/__pycache__
/__pycache__
